<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <user-info></user-info>
    <!-- Menu -->
    <div class="menu">
        <ul id="leftsidebar-menu" class="list">
            <li id="dashboardid">
                <a href="#dashboard">
                    <i class="material-icons">dashboard</i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li id="profileid">
                <a href="#profile">
                    <i class="material-icons">face</i>
                    <span>My profile</span>
                </a>
            </li>
            <li id="customeraccountsid">
                <a href="#customer-account">
                    <i class="material-icons">account_box</i>
                    <span>Customer Accounts</span>
                </a>
            </li>
            <menuItems></menuItems>
        </ul>
    </div>
    <!-- #Menu -->
<sidebar-footer></sidebar-footer>
</aside>
<!-- #END# Left Sidebar -->